.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #e7e7e7;
    color: #555;
}

.active_link{
    background-color: #e7e7e7;
    color:#555;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 1px solid #eee;
  outline: none;
  background-color: #eee;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}

#myBtn:hover {
  background-color: #5cb85c;
  border-color:#5cb85c;
}

button.back_to_top:hover > .top_button_icon{
     color:white;
}

.top_button_icon{
     color:#555;
}

@media (min-width: 150px) and (max-width:767px)  { .form_subscribe{margin:10px;}}

.footer {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
}

.bg_image{
  width:100%;
  height:150px;
  background-size:cover;
  background-position:center;
  position:relative;
  padding: 0;
  margin: 0;
}
.text_on_img{
  width:1440px;
  height:100%;
  margin-top: 50%;
  vertical-align: center;
  position:absolute;
  bottom:0;
  text-align:center;
  color:white;
}

