/* .navbar-default .navbar-nav > .active{
    color: #000;
    background: #d65c14;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: #d65c14;
} */

/* .navbar-nav >li>a .active{
    background-color: #e7e7e7;
    color:#555;
}

.navbar-nav >li> a:hover{
    background-color: #e7e7e7;
    color:#555;
} */

/* .navbar-default .navbar-nav > li > a .active{
      background-color: #e7e7e7;
    color:#555;
} */

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #e7e7e7;
    color: #555;
}

.active_link{
    background-color: #e7e7e7;
    color:#555;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 1px solid #eee;
  outline: none;
  background-color: #eee;
  /* color: white; */
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}

#myBtn:hover {
  background-color: #5cb85c;
  border-color:#5cb85c;
}

button.back_to_top:hover > .top_button_icon{
     color:white;
}

.top_button_icon{
     color:#555;
}

@media (min-width: 150px) and (max-width:767px)  { .form_subscribe{margin:10px;}}

.footer {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
}



