/* .navbar-default .navbar-nav > .active{
    color: #000;
    background: #d65c14;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: #d65c14;
} */

/* .navbar-nav >li>a .active{
    background-color: #e7e7e7;
    color:#555;
}

.navbar-nav >li> a:hover{
    background-color: #e7e7e7;
    color:#555;
} */

/* .navbar-default .navbar-nav > li > a .active{
      background-color: #e7e7e7;
    color:#555;
} */

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #e7e7e7;
    color: #555;
}

.active_link{
    background-color: #e7e7e7;
    color:#555;
}

