/* Navbar properties for all pages */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #e7e7e7;
    color: #555;
}

.active_link{
    background-color: #e7e7e7;
    color:#555;
}
/* Navbar properties ends */

/* Back to top button shape and position */
#myBtn {
  width:35px;
  height:35px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 1px solid #eee;
  outline: none;
  background-color: #eee;
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
}

/* Back to top button hover property */
#myBtn:hover {
  background-color: #5cb85c;
  border-color:#5cb85c;
}

/* Back to top button hover property */
button.back_to_top:hover > .top_button_icon{
color:white;
}
/* Back to top button hover property */
.top_button_icon{
color:#555;
}

@media (min-width: 150px) and (max-width:767px)  
/* index.html page form_subscribe sizing */
{ .form_subscribe{margin:10px;}}

/* footer of index.html page */
.footer {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
}

/* Index.html page ends */

/* about_us page top background image */
.bg_image{
  background: url("../images/background.jpg") no-repeat;
  background-size:cover;
  min-height: 95%;
  width: inherit;
}

.images{
  width:920px;
  height:768px;
}

.teal{
  color:teal;
}

.details{
  font-size:0.9em;
}


/* Wells used in between about_us page */
.bg_blue{
  background-color:#48a0dc;
  color:white;
}

/* prizing section of about_us page */
.list_style{ 
  background-color: #eee;
  color: #555;
  font-size: 1em;
}

/* prizing section of about_us page */
.ul_heading{
  background-color:#61b872;
  color:white;
  line-height: 350%;
}

/* prizing section of about_us page */
.prize_button{
  background-color: #61b872;
  color:white;
}

/* about_us page client name section */
.bg_grey{
  background-color: #e7e7e7;
  color:#555;
  /* font-size: 0.8em; */
}

/* footer section of about_us page */
.white_text{
  color:white;
}

/* footer section of about_us page */
.grey{
  color:#555;
}



.borderless>tbody>tr>td, .borderless>tbody>tr>th, .borderless>tfoot>tr>td, .borderless>tfoot>tr>th, 
.borderless>thead>tr>td, .borderless>thead>tr>th
{
  border-top:0px !important;
  padding: 2% !important;
  vertical-align: middle;
  text-align: center;
}

/* Large screen */
@media (min-width:1200px){
  /* svg_img --> images used in about_us page in the footer section  */
    .svg_img {
    width:40px;
    height:40px; 
    margin: 3%;
  }

  /* about_us page text on background image */
  .text_on_image{
    margin-top: 4%;
    text-align:center;
    color:white;
  }

  #first-name,#email-id { 
  margin-bottom:4%;
  }

  .prize_section{
  font-size: 4em;
  }

  .smartphone_img{
    padding-top:2%;
  }

}

/* md screen media query */
@media (min-width:992px) and (max-width:1199px){

  .smartphone_img{
    padding-top:5%;
  }

  .svg_img {
  width:40px;
  height:40px;
  margin: 1%;
  }

  /* about_us page text on background image */
  .text_on_image{
    margin-top: 6%;
    text-align:center;
    color:white;
  }

  #first-name,#email-id { 
  margin-bottom:4%;
  }

   .prize_section{
  font-size: 4em;
  }
}

/* sm screen media queries */
@media (min-width:768px) and (max-width:991px){

  .smartphone_img{
    padding-top:15%;
  }

  .svg_img {
  width:40px;
  height:40px;
  margin: 1%;
  }

  /* about_us page text on background image */
  .text_on_image{
    margin-top: 4%;
    text-align:center;
    color:white;
  }

  #first-name,#email-id { 
  margin-bottom:4%;
  }

  .prize_section{
  font-size: 4em;
  }
}

/* xs screen media query */
@media  (max-width:767px){

  .h3{
    font-size: 1em;
  }

  .text_on_image{
    font-size: 1.1em;
  }

  .svg_img {
  width:30px;
  height:30px;
  margin: 2%;
  }

  /* about_us page text on background image */
  .text_on_image{
  font-size:1.3em;
  margin-top: 4%;
  text-align:center;
  color:white;
  }

  .white_text{
  margin:7% 2% 2% 2%;
  text-align: center;
  }
  .footer_heading{
    text-align: center;
  }

  .grey{
  margin:2%;
  text-align: center; 
  }

  .grey+p{
  text-align: center; 
  }

  .footer_button{
    display: block;
    text-align: center;
  }

  #first-name,#email-id { 
  margin-bottom:2%;
  }

  .social_links{
    text-align: center;
  /* align-items: center; */
  }

  .prize_section{
    font-size: 2em;
  }

  .list_style{
    font-size: 0.8em;
  }

}


/* Product_list.html file */

/* .owl-height 
  {
    min-height: 150px; 
    height:auto !important; 
    height: 150px; 
  } */

.owl-carousel2 .item{
  height:100px;
}

  .quotes-carousel .item .container{
  height:300px;
}

.blockquote_center {
  margin-top:125px;
  opacity:1;
  border:none;
}

/* animation used for transition of background black color on hover */
/* .quotes-carousel .item .container .row:before{
  content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0px;
	background:black;
	border-radius: 5px;
  transition: all 2s ease;
  opacity:0.3; 
}

.quotes-carousel .item .container .row:hover:before{
  height:300px;
} */

.quotes-carousel .item .container .row{
  height:300px;
  background-color: black;
  opacity:0.3;
}

.quotes-carousel .item .container .row .blockquote_center{
  opacity: 1 !important;
}

.quotes-carousel .item .container .row .blockquote-footer{
  opacity: 1 !important;
}

.quotes-carousel .owl-prev {
    /* width: 15px; */
    /* height: 100px; */
    position: absolute;
    top: 40%;
    margin-left: 55px !important;
    display: block!IMPORTANT;
    /* border:0px solid black; */
    background: none !important;
}

.quotes-carousel .owl-next {
    /* width: 15px; */
    /* height: 100px; */
    position: absolute;
    top: 40%;
    right: 65px;
    display: block!IMPORTANT;
    /* border:0px solid black; */
    background: none !important;
}

/* .owl-theme .owl-nav {
  background: none !important;
} */
