.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #e7e7e7;
    color: #555;
}

/* .active_link{
    background-color: #e7e7e7;
    color:#555;
} */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 1px solid #eee;
  outline: none;
  background-color: #eee;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
}

#myBtn:hover {
  background-color: #5cb85c;
  border-color:#5cb85c;
}

button.back_to_top:hover > .top_button_icon{
     color:white;
}

.top_button_icon{
     color:#555;
}

@media (min-width: 150px) and (max-width:767px)  { .form_subscribe{margin:10px;}}

.footer {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
}

.bg_image{
  background: url("../images/background.jpg") no-repeat;
  background-size:cover;
  min-height: 80%;
  background-position: center;
    -webkit-background-size: cover;
    /* opacity: 0.7; */
}

.text_on_image{
  margin-top: 4%;
  text-align:center;
  color:white;
}

.images{
  width:920px;
  height:768px;
}

.teal{
  color:teal;
}

.details{
  font-size:0.8em;
}

.bg_blue{
  background-color:#428bca;
  color:white;
}

.list_style{
  background-color: #eee;
  color: #555;
  font-size: 0.8em;
}

.ul_heading{
  background-color:#5cb85c;
  color:white;
  line-height: 350%;
}

