/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px){ 
    
 }.bg_image

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px){ 
    
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
    
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #bg_image{
        background-image: url("../images/bg/bg@2x.png");
        background-size: cover;
        width: 100%;
        height:816px; 
        position:relative;       
    }

    #digimkey{
        width: 630px;
        height:172px;
        margin-top:36px;        
    }

    #logo{
        width:275px;
        height:70px;
        margin-top:50px;
        margin-left:50px; 
    }

    #mac{
        width:828px;
        height:487px;
        position:absolute;
        top:170px;
        left:10px;
    }

    #iphone{
        left:621px;
        top:409px;
        position: absolute;
        width: 362px;
        height: 178px;
    }

    #transforming {
    width: 440px;
    height: 84px;
    font-family: Phosphate-Solid;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 8.8px;
    text-align: center;
    color: #ffffff;
    top:37.4%;
    left:63.9%;
    position: absolute;
    }

    #small_hr{
        position: absolute;
        border:2px solid #fff;
        width: 400px;
        top:49.2%;
        left:63.9%;
    }

    #below_transfroming{
        position: absolute;
        top:53.4%;
        left:63.9%;
        color:white;
    }
 }